<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <title>{{ page.title }}</title>
	<script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
<header>
    <h1> header </h1>
    <h3>** description here</h3>
</header>
<nav id="navbar">
    <!-- Navigation bar here 
    Need to change the naming to nicer description for the buttons later
    -->
    <ul>
		<li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/"></a></li>
        <li><a href="/"></a></li>
    </ul>
</nav>
<div class="container">
    {{ content }}
</div> <!-- end of container -->
</body>
</html>
